<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title th:text="${title}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <option th:fragment="factions-option" th:each="faction : ${T(com.tchristofferson.newworldcommunitysite.models.enums.Factions).values()}"
            th:value="${faction.name()}" th:text="${faction.toString()}"/>
    <option th:fragment="regions-option" th:each="region : ${T(com.tchristofferson.newworldcommunitysite.models.enums.Regions).values()}"
            th:value="${region.name()}" th:text="${region.toString()}"/>
    <option th:fragment="faction-sizes-option" th:each="size : ${T(com.tchristofferson.newworldcommunitysite.models.enums.FactionSizes).values()}"
            th:value="${size.name()}" th:text="${size.toString()}"/>
</body>
<script th:fragment="select-init">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
</html>