<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base-page :: head (${'Create Company'})">
    <meta charset="UTF-8">
    <title>New Company</title>
</head>
<body class="blue-grey darken-4 white-text">
    <div th:replace="/fragments/navigation :: navigation"/>
    <div class="container">
        <h1>Register New Company</h1>
        <form th:action="@{/companies/create}" method="post" class="white-text">
            <label for="name">Company Name*</label>
            <input class="white-text" type="text" id="name" name="name">
            <label for="server">Server Name*</label>
            <select id="server" name="server" class="browser-default">
                <option value="HIMAVANTA">Himavanta</option>
                <option value="VALHALLA">Valhalla</option>
                <option value="AARNIVALKEA">Aarnivalkea</option>
            </select>
            <label for="faction">Faction*</label>
            <select id="faction" name="faction" class="browser-default">
                <option th:replace="/fragments/base-page :: factions-option"/>
            </select>
            <label for="region">Region*</label>
            <select id="region" name="region" class="browser-default">
                <option th:replace="/fragments/base-page :: regions-option"/>
            </select>
            <label for="factionSize">Faction Size*</label>
            <select id="factionSize" name="factionSize" class="browser-default">
                <option th:replace="/fragments/base-page :: faction-sizes-option"/>
            </select>
            <label for="description">Description</label>
            <textarea placeholder="Description" class="white-text materialize-textarea" name="description" id="description"></textarea>
            <input class="btn red" type="submit" value="Register Company">
        </form>
    </div>
</body>
</html>